<!DOCTYPE html>
<html color-mode="user" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Coolify your Django project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />

    <title>Coolify your Django project</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="#">Django Coolify Template</a>
        <ul>
          <li>Home</li>
          <li>
            <a href="https://rahat.vercel.app/about/" target="_blank"
              >About me &nearr;</a
            >
          </li>
        </ul>
      </nav>
      <h1>Coolify your Django project</h1>

      <br />
      <p>
        <a
          download="mvp.html"
          href="https://github.com/rahathosen/django-coolify"
          target="_blank"
          ><i>Check the code &nearr;</i></a
        >
      </p>
      <br /><br />
      <p>
        This is the landing page of a Django project used to demonstrate how to
        deploy your Django project with
        <a href="https://coolify.io" target="_blank">coolify</a> along with
        other modern tools.
      </p>
    </header>
  </body>
</html>
